<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= image_tag(recipe.image, width: 80) %></td>
      <td><%= link_to recipe.name, recipe %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
  <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary' %>
<% end %>